<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<title>The Iron Yard Database</title>
		<link rel="stylesheet" href=" screen.css">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
	</head>
	<body>
		<header>
			<img src="tiy_logo_1.png" alt="The Iron Yard Logo">
			<h1>The Iron Yard Database</h1>
		</header>
			<table>
				<tr>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Address</th>
					<th>Position</th>
					<th>Salary</th>
					<th>Slack Account</th>
					<th>GitHub Account</th>
				</tr>
				<% @person_array.each do |person| %>
				<tr>
					<td><%= person.name %></td>
					<td><%= person.phone_number %></td>
					<td><%= person.address %></td>
					<td><%= person.position %></td>
					<td><%= person.salary %></td>
					<td><%= person.slack_acct %></td>
					<td><%= person.github_acct %></td>
				</tr>
				<% end %>
		<div class="mobile">
			<% @person_array.each do |person| %>
			<ul>
				<li>Name: <%= person.name %></li>
				<li>Phone Number: <%= person.phone_number %></li>
				<li>Address: <%= person.address %></li>
				<li>Position: <%= person.position %></li>
				<li>Salary: <%= person.salary %></li>
				<li>Slack Account: <%= person.slack_acct %></li>
				<li>GitHub Account: <%= person.github_acct %></li>
			</ul>
			</tr>
			<% end %>

		</div>
		<div class="summary">
				<% @person_array.group_by { |person| person.position }.each do |position, people| %>
					<% total_salary = people.map { |person| person.salary }.sum %>
					<ul>
						<li>Here is the info for the <%= position %> position.</li>
						<li>The total salary is: $ <%= total_salary %>.</li>
						 <% if people.count == 1 %>
						<li>There is only 1 <%= position %>.</li>
						<% else %>
						<li>There are <%= people.count %> <%= position %>s.</li>
						<% end %>
					</ul>
			<% end %>
		</div>
	</body>
	<footer>
    <h5>  Copyright &copy; 2017 Bruno Ribeiro&nbsp;<a href="mailto:brunz36@gmail.com">brunz36@gmail.com</a></h5>
  </footer>
</html>
